{% include "Partials/header.html" %}

<div class="container" id="view">
    <div class="row">
        <div class="col-lg-4">
            <h1 id="time">
                {{ time.hour }}:{{ time.minute }}:{{ time.second }}
            </h1>
            <h1>
                {{ timeDelta }}
            </h1>
            <h3 class="table-header">Leaderboard</h3>
            <div class="list-group">
                {% for team in teams %}
                    <a href="" type="button" data-toggle="modal" data-target="#editTeam" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h4>
                            {{ team.name }}
                            <span class="float-right-leaderboard">
                                {{ team.current_landmark.name }}
                            </span>
                        </h4>
                    </a>
                {% endfor %}
                <a href="" type="button" data-toggle="modal" data-target="#newTeam" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h4 class="add-button">Add new team</h4>
                </a>
            </div>
        </div>
        <form action="/togglegame/" method="POST">{% csrf_token %}
            <input type="hidden" size="20" id="huntUser" name="huntUser" value="{{ huntUser }}" /><br/>
            {% if not running %}
                <div class="col-lg-4 game-btn-outer">
                    <button id="start" class="btn btn-success game-btn-inner">Start Game</button>
                </div>
            {% else %}
                <div class="col-lg-4 game-btn-outer">
                    <button id="start" class="btn btn-danger game-btn-inner">Stop Game</button>
                </div>
            {% endif %}
        </form>
        <div class="col-lg-4">
            <h3 class="table-header">Landmarks</h3>
            <div class="list-group">
                {% for landmark in landmarks %}
                    <a href="" type="button" data-toggle="modal" data-target="#editLandmark" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h4 class="landmark-item">{{ landmark.name }}</h4>
                    </a>
                {% endfor %}
                <a href="" type="button" data-toggle="modal" data-target="#newLandmark" class="list-group-item list-group-item-action flex-column align-items-start">
                    <h4 class="add-button">Add new landmark</h4>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTeam" tabindex="-1" role="dialog" aria-labelledby="editTeamLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-title-center" id="editTeamLabel">Edit Team</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="team-name" class="col-form-label">Team Name:</label>
                <input type="text" class="form-control" id="team-name">
              </div>
              <div class="form-group">
                <label for="team-password" class="col-form-label">Password:</label>
                <input type="text" class="form-control" id="team-password">
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newTeam" tabindex="-1" role="dialog" aria-labelledby="newTeamLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-title-center" id="newTeamLabel">Add New Team</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="team-name" class="col-form-label">Team Name:</label>
                <input type="text" class="form-control" id="team-name">
              </div>
              <div class="form-group">
                <label for="team-password" class="col-form-label">Password:</label>
                <input type="text" class="form-control" id="team-password">
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editLandmark" tabindex="-1" role="dialog" aria-labelledby="editLandmarkLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-title-center" id="editLandmarkLabel">Edit Landmark</h4>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="landmark-name" class="col-form-label">Landmark Name:</label>
                <input type="text" class="form-control" id="landmark-name">
              </div>
              <div class="form-group">
                <label for="landmark-clue" class="col-form-label">Clue:</label>
                <input type="text" class="form-control" id="landmark-clue">
              </div>
              <div class="form-group">
                <label for="landmark-question" class="col-form-label">Confirmation Question:</label>
                <input type="text" class="form-control" id="landmark-question">
              </div>
              <div class="form-group">
                <label for="landmark-answer" class="col-form-label">Confirmation Answer:</label>
                <input type="text" class="form-control" id="landmark-answer">
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newLandmark" tabindex="-1" role="dialog" aria-labelledby="newLandmarkLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-title-center" id="newLandmarkLabel">Add Landmark</h4>
      </div>
      <div class="modal-body">
          <form action="/gamemaker/" method="POST">{% csrf_token %}
              <div class="form-group">
                <input type="hidden" size="20" id="command" name="command" value="addlandmark" /><br/>
              </div>
              <div class="form-group">
                <input type="hidden" size="20" id="huntUser" name="huntUser" value="{{ huntUser }}" /><br/>
              </div>
              <div class="form-group">
                <label for="landmark-name" class="col-form-label">Landmark Name:</label>
                <input type="text" class="form-control" id="landmarkName" name="landmarkName">
              </div>
              <div class="form-group">
                <label for="landmark-clue" class="col-form-label">Clue:</label>
                <input type="text" class="form-control" id="landmarkClue" name="landmarkClue">
              </div>
              <div class="form-group">
                <label for="landmark-question" class="col-form-label">Confirmation Question:</label>
                <input type="text" class="form-control" id="landmarkQuestion" name="landmarkQuestion">
              </div>
              <div class="form-group">
                <label for="landmark-answer" class="col-form-label">Confirmation Answer:</label>
                <input type="text" class="form-control" id="landmarkAnswer" name="landmarkAnswer">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% include "Partials/footer.html" %}