h3 {
    font-size: 40px
}

h4 {
    text-align:left;
    margin: 5px 0px 5px 10px;
}

.add-button {
    text-align: center;
    margin: 5px 0px 5px 10px;
    font-weight: normal;
    color: darkgrey;
}

.float-right-leaderboard {
    float:right;
    color:darkgrey;
    font-weight: normal;
    margin: 0px 10px 0px 0px;
}

.table-header, .landmark-item {
    text-align: center;
}

.game-btn-outer {
    height: 100%;
    text-align: center;
}

.game-btn-inner {
    margin: 200px auto;
    height: 12%;
    width: 80%;
    font-size: 30px;
}

.modal-title-center {
    text-align: center;
}

#view {
    height: 88%;
}

#time {
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}